@import "tailwindcss";
:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}




.btn-show {
    box-shadow:
    /*底部灰色阴影*/ 2px 4px 2px 3px rgba(0, 0, 0, 0.15),
        /*下面深蓝色立体阴影*/ 2px 2px 1px 1px #14cd3f96,
        /*内部暗色阴影*/ 0 -3px 2px 2px rgba(0, 0, 0, 0.1) inset;
}
.user_btn_show {
    box-shadow:
    /*底部灰色阴影*/ 2px 4px 2px 5px rgba(0, 0, 0, 0.15),
        /*下面深蓝色立体阴影*/ 2px 2px 1px 1px #fff,
        /*内部暗色阴影*/ 0 -3px 2px 2px rgba(0, 0, 0, 0.1) inset;
}

.show_container {
    box-shadow: 0 3.2px 12px #00000014, 0 5px 25px #0000000a;
}

#app {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}






@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
page {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0;
    letter-spacing: 0.05em;
    padding: 0;
    font-family: PingFang-SC, PingFang-SC;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .btn_info {
    color: #84d764;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rpx 4rpx 36rpx 8rpx rgba(11, 21, 90, 0.05);
    border-radius: 45rpx;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none !important;
    outline: none !important;
  }
  
  .btn_sc {
    color: #ffffff;
    background: #84d764;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rpx 0rpx 22rpx 10rpx rgba(119, 222, 79, 0.26);
    border-radius: 45rpx;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none !important;
    outline: none !important;
  }
  
  .btn_wa {
    color: #ffffff;
    background: #ffb652;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12rpx;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none !important;
    outline: none;
  }
  
  .main_box {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.24) 100%);
    box-shadow: 0rpx 4rpx 36rpx 8rpx rgba(11, 21, 90, 0.05);
    border-radius: 16rpx;
    backdrop-filter: blur(11px);
    padding: 32rpx;
  }
  
  .bg-img {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.24) 100%);
    background-size: 100% 100%;
    position: relative;
  }
  
  .box_title {
    font-family: PingFang-SC, PingFang-SC;
    font-weight: 800;
    font-size: 34rpx;
    color: #2b2c32;
    line-height: 48rpx;
    text-align: left;
    font-style: normal;
  }
  
  .title {
    font-family: PingFang-SC, PingFang-SC;
    font-weight: 800;
    font-size: 30rpx;
    color: #808080;
    line-height: 42rpx;
    text-align: left;
    font-style: normal;
  }
  .desc {
    font-family: PingFang-SC, PingFang-SC;
    font-weight: 800;
    font-size: 30rpx;
    color: #2b2c32;
    line-height: 42rpx;
    text-align: left;
    font-style: normal;
  }
  
  .form_title {
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 30rpx;
    color: #111111;
    line-height: 42rpx;
    text-align: left;
    font-style: normal;
  }
  .uni-easyinput {
    width: 100% !important;
  }
  .uni-easyinput__content {
    width: 100%;
    height: 2.5rem;
    border-radius: 12px !important;
  }
  button::before {
    border: 0;
    border: none;
  }
  button::after {
    border: 0;
    border: none;
  }
  
  .island {
    background: radial-gradient(81% 77% at 36% 30%, #84d764 0%, #c6f88d 100%);
    box-shadow: 0rpx 0rpx 22rpx 10rpx rgba(119, 222, 79, 0.26);
    backdrop-filter: blur(13.5px);
  }
  